header {
    display: flex; 	
    justify-content: space-around;
    align-items: center;
    background-color: #f3e9f1;
    color:red;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
}

#cart-count {
    text-align: center;
}

#total-product {
    background-color: red;
    color:  #f3e9f1;
    font-size: 1em;
    border-radius: 30px;
}

body {
    width: 80%;
    min-width: 350px;
    margin: auto;
    font-family: Verdana, Arial, 'Comic Sans MS';
}
h1, article {
    text-align: center;
    font-size: 1em;
    color:  rgb(218, 30, 139);
}

/*catalogue*/  
#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2em;
}

.product-list {
    border: 1px solid rgb(218, 30, 139);
    margin: 20px;
}

#img-catalog, #img-product{
    width:400px;
}

.product-list {
    min-width: 533px;
    max-width: 533px;
    margin-bottom: 100px;
    text-align: center;
}

#see-product {
    font-size: 1em;
    color: blueviolet;
}

/*product*/
#product {
    margin-bottom: 100px;
    font-size: 1.5em;
    margin:auto;  
    text-align: center; 
}
.product-single {
    display: flex;
}
#product-info {
    margin: 50px;
    text-align: left;
}

#add-to-cart-button { 
    font-size: 1em;
    margin: 20px;
    color: blueviolet;
}

/*panier*/
.panier-presentation {
    width: 90%;
}
.product-cart {
    margin: auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;

}

#img-cart {
    width: 200px;
}

#border {
    border-bottom: solid blueviolet 2px;
    margin: 20px;
}

#vider-panier {
    margin: 20px;
}

.remove-from-cart-button {
    font-size: 1em;   
}

#formulaire {
    text-align: center;   
}

#send-cart{
    font-size: 1.5em;
    color: blueviolet;
}
/*order*/ 
#order, #total-order {
    text-align: center; 
    font-size: 1.5em;
} 

/*toutes les pages*/
footer{
    color:  rgb(218, 30, 139);
    background-color: #f3e9f1; 
    height: 50px;
    margin-top: 20px;
}

@media all and (max-width: 1068px) {
    body {
        margin: auto;
        width: 100%;
    }
     header {
      margin: auto;
      flex-wrap: wrap;
    }
    #result {     
        margin-bottom: 50px;
        text-align: center;
    }
    #img-catalog, #img-product, #img-cart {
        max-width: 100%;
        height: auto;
    }
    #product {
        padding: 10px 10px 10px 10px;
        font-size: 1em;
        width:100%;
        margin:auto;
        margin-bottom: 50px;
        text-align: center;
    }
    .product-single,.product-cart {
        flex-wrap: wrap;
    }
    .product-list {
        min-width: 300px;
        max-width: 600px;
        margin-bottom: 100px;
        text-align: center;
    }
    #total-order, #send-cart {
        text-align: center;
        font-size: 1em;
        padding-right: 20px;
    }
}
